{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %} Chapter {{ chapter_info.number }} | {{chapter_info.transliteration}} {% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        $('#toverse').val({{ chapter_info.total_verses }});
        var path = window.location.pathname.split('/').filter(function(v){return v!==''});
        if(path[1]){
            var ranges = path[1].indexOf("-") >= 0 ? path[1].split('-') : path[1];
            $('#fromverse').val(Array.isArray(ranges) && ranges.length > 1 ? ranges[0] : path[1]);
            $('#toverse').val(Array.isArray(ranges) && ranges.length > 1 ? ranges[1] : {{ chapter_info.total_verses }});
        }

        $( "#slider-range" ).slider({
            range: true,
            min: 1,
            max: {{ chapter_info.total_verses }},
            values: [ $('#fromverse').val(), $('#toverse').val() ],
            slide: function( event, ui ) {
                $('#fromverse').val('' + ui.values[0]);
                $('#toverse').val('' + ui.values[1]);
            }
        });

        $("#goverse").click(function () {
            var newpara = $('#fromverse').val() + "-" + $('#toverse').val();
            if(path[0]) window.location.pathname = path[0] + "/" + newpara;
        });

        $(".author-name").click(function() {
            var para = window.location.search.toLocaleLowerCase().substring(3, window.location.search.length).split(',').length;
            if(para >= 5) {
                return false;
            }
            var newtrans = $(this).attr('id');
            if(window.location.search.indexOf(newtrans) >= 0) {
                return false;
            }
            if(window.location.search.toLowerCase().indexOf("?t") >= 0) {
                window.location.search += "," + newtrans;
            } else {
                window.location.search = '?t=' + newtrans;
            }
            return false;
        });

        $(".closeTranslation").click(function () {
            var removetrans = $(this).attr('id');
            var para = window.location.search.toLocaleLowerCase().substring(3, window.location.search.length).split(',');
            var total = jQuery.grep(para, function(value) {
                return value != removetrans;
            });
            if(total.length > 0)
                window.location.search = '?t=' + total.join(",");
            else window.location.search = "";
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}

<header class="white-text title-banner">
    <div class="container text-center p-2 pt-4 mx-auto">

        <div class="text-center text-white h4-responsive">
            <span class="cyan rounded font-large m-3 p-2">{{ chapter_info.number }}</span>
            <span class="m-3">{{ chapter_info.transliteration }}</span>
            <span class="h3-responsive arabic-amiri m-3">{{ chapter_info.arabic_name }}</span>
        </div>
        <div class="row flex-row justify-content-center banner-element p-1" style="overflow: hidden">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 float-start p-2">Verse:</div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 float-start p-2 flex-row">
                <div class="me-2 float-start my-2 mw-100" style="min-width: 70%" id="slider-range"></div>
                <select id="fromverse" class="browser-default custom-select custom-select-sm p-1 m-0 ms-1 float-start" aria-label="FromVerse">
                    {% for _ in ""|ljust:chapter_info.total_verses %}
                        <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                    {% endfor %}
                </select>
                <select id="toverse" class="browser-default custom-select custom-select-sm p-1 m-0 float-start" aria-label="ToVerse">
                    {% for _ in ""|ljust:chapter_info.total_verses %}
                        <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-md btn-default m-0 px-3 py-1 z-depth-0 waves-effect m-0 float-start" id="goverse" type="button" value="Go">
                    <i class="fas fa-angle-double-right text-white" style="font-size: 20px"></i></button>
            </div>
        </div>


    </div>
</header>

<div class="container-fluid page-container">
    <div class="row">

        <div class="col-lg-3">
            <p class="my-2">Selected Translations</p>

            <div class="list-group">
                {% for author in selected_authors %}
                    <a href="" class="list-group-item card-content">
                        {{author}}{% ifnotequal author.alang|stringformat:"s" "Arabic" %}
                            <button type="button" class="close" aria-label="Close"><span class="closeTranslation" id="{{ author.id }}" aria-hidden="true">×</span></button>
                        {% endifnotequal %}
                    </a>
                {% endfor %}
            </div>

            <p class="my-2">Translations
                <a class="d-lg-none d-xl-none" data-toggle="collapse" href="#languageCollapse" role="button" aria-expanded="false" aria-controls="languageCollapse">Expand</a>
            </p>
            <div class="" id="languageCollapse-wrapper">
                <div class="accordion accordion-flush" id="languageCollapse">
                    {% for li in language_info %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading{{li.id}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapse{{li.id}}" aria-expanded="false"
                                        aria-controls="flush-collapse{{li.id}}">
                                    {{ li.name }}
                                </button>
                            </h2>
                            <div id="flush-collapse{{li.id}}" class="accordion-collapse collapse"
                                 aria-labelledby="flush-heading{{li.id}}" data-bs-parent="#languageCollapse">
                                <div class="accordion-body">
                                    <div id="collapse{{ li.id }}" {% if 'English' == li.name %}class='show'
                                         {% else %}class=''{% endif %} role="tabpanel"
                                         aria-labelledby="heading{{ li.id }}" data-parent="#languageCollapse">

                                        {% for ai in author_info %}{% if ai.alang == li %}
                                            <p><a class="author-name" id="{{ai.id}}">{{ai.name}}</a></p>
                                        {% endif %}{% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    <div class="col-lg-9">
        <div class="card card-outline-secondary my-4">
            <div class="card-header">
                <div class="float-start">
                    <a href="/{{ chapter_info.number }}/">{{ chapter_info.number }}</a> | English Meaning: {{chapter_info.english_name}}
                </div>
                <div class="float-right arabic-amiri">{{ chapter_info.arabic_name }}</div>
            </div>
            <div class="card-body">
                {% for v in translations %}
                    {% ifequal v.author.alang|stringformat:"s" "Arabic" %}
                    {% if not forloop.first %}<hr/>{% endif %}
                    <div class="arabic-text arabic-amiri font-large my-2">
                        <a class="verse-number rounded p-2" href="/{{v.chapter.number}}/{{v.number}}">{{v.chapter.number}}:{{v.number}}</a>
                        <span lang="ar" xml:lang="ar">{{v.vtext|safe}}</span>
                    </div>
                    {% else %}
                    <div class="font-normal my-3">
                        <a class="verse-number rounded p-2" href="/{{v.chapter.number}}/{{v.number}}">{{v.chapter.number}}:{{v.number}}</a>
                        <span {% if v.author.alang.direction == 2 %} class="translations-text translation-text-right" {% else %} class="translations-text" {% endif %} lang="{{v.author.alang.iso_code}}" xml:lang="{{v.author.alang.iso_code}}">{{v.vtext|safe}} <small class="translation-name"> - {{v.author.name}} ({{v.author.alang}})</small></span>
                    </div>
                    {% endifequal %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}