{% extends "base.html" %}
{% load static custom_tags %}{% load i18n %}
{% block title %} Quran Contents {% endblock %}

{% block scripttags %}
{% endblock %}

{% block home-banner %}
    <header class="title-banner py-2">
        <div class="container text-center text-white p-2 pt-4 mx-auto">
            <h2 class="heading h2-responsive">The Quran</h2>
            <div>Translations of Quran in your own language.</div>
        </div>
    </header>
{% endblock %}

{% block content %}

<div class="container page-container">
    <div class="row">

        {% for m in chapters %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card shadow-2-strong my-2">
                <div class="card-header ps-4 pb-1 shadow-2-soft">
                    <a href="/{{ m.number }}/">
                        <span class="float-start fs-normal fw-bold">{{ m.number }} : {{ m.transliteration|simplify }}</span>
                        <span class="float-end arabic-amiri fs-normal">{{ m.arabic_name }}</span>
                    </a>
                </div>
                <div class="card-body shadow-2">
                    <span class="font-small">"{{ m.english_name }}"</span>
                    <span class="font-small"> has {{ m.total_verses }} verses.</span>
                    <a href="/{{ m.number }}" class="fs-4 float-end fas fa-chevron-circle-right text-info"></a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}