
@font-face {
    font-family: "Noto Mono";
    src: url('../fonts/NotoMono-Regular.ttf');
}

@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Amiri-Regular.ttf');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px;
    height: 100%;
}

a, a div, a p, a span {
    color: #015b5b;
}


@media (min-width: 992px) {
    #langListCollapse {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

.btn {
    text-transform: unset !important;
    padding: .4rem !important;
}

.arabic-amiri {
    font-family: 'Amiri', serif;
}

.arabic-text {
    direction: rtl;
    unicode-bidi: embed;
    text-align: right;
    line-height: 4rem;
}

.translation-text-right {
    direction: rtl;
    unicode-bidi: embed;
    text-align: right;
    float:right;
}

.translations-text {
    font-family: "Noto Mono";
    font-stretch: condensed;
    line-height: 2rem;
}

.translation-name {
    font-family: Calibri;
    font-size: 0.8rem;
    color: #1a9bcb;
    font-style: italic;
}

.verse-number {
    font-family: Consolas, monaco, monospace;
    font-size: 1rem;
    letter-spacing: -1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #E0F7FA;
    height: 20px;
    width: 10px;
}

.navbar {
    background-image: linear-gradient(20deg, rgba(0, 184, 212, 0.4), rgba(0, 191, 165, 0.6)), url("../images/bg-top.jpg");
    background-size: cover;
}

.navbar .nav-link {
    color: #fff !important;
}

.nav-item:hover {
    background-color: rgba(0, 184, 212, 0.2);
}

.title-banner {
    background-image: linear-gradient(20deg, rgba(0, 184, 212, 0.4), rgba(0, 191, 165, 0.6)), url("../images/bg-top.jpg");
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cyan8 {
    background-color: #00838F;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.page-container {
    padding: 1% 2% !important;
    min-height: calc(100vh - 200px);
}

.font-large {
    font-size: 2rem;
}

.font-small {
    font-size: 0.8rem;
}

.content {
    padding: 40px;
}

.card-content {
    padding-top: 8px;
    padding-bottom: 8px;
}

.panel-title {
    position: relative;
    font-weight: bold;
}

.panel-title::after {
    content: "\f107";
    color: #fff;
    top: 2px;
    right: 0px;
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 800;
}

.panel-title[aria-expanded="true"]::after {
    content: "\f106";
    font-weight: 800;
}

.search-box::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.search-box:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.search-box::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.search-box:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.search-box::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

.search-box {
    color: white;
    font-family: Arial, 'Font Awesome\ 5 Free';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.search-box:focus {
    color: white;
}

.page-link {
    color: white !important;
}

.accordion-button.collapsed {
    color: #014141 !important;
    padding: 0.6rem;
    background-image: linear-gradient(20deg, rgba(0, 184, 212, 0.4), rgba(0, 191, 165, 0.4)) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.accordion-button {
    color: #014141 !important;
    padding: 0.6rem !important;
    background-image: linear-gradient(20deg, rgba(0, 184, 212, 0.4), rgba(0, 191, 165, 0.4)) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.accordion-body {
    padding: 0.6rem !important;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.author-name p:hover {
    background-image: linear-gradient(20deg, rgba(216, 247, 252, 0.4), rgba(197, 238, 231, 0.4)) !important;
    cursor: pointer;
}

.footer {
    bottom: 0;
    float: none;
    margin-top: 2rem;
    clear: both;
}

.footer a {
    color: white;
}