html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.arabic-amiri {
  font-family: 'Amiri', serif;
}

.arabic-mirza {
  font-family: 'Mirza', cursive;
}

.arabic-Scheherazade {
  font-family: 'Scheherazade', serif;
}

.arabic-text {
  direction: rtl; unicode-bidi: embed; text-align: right;
}

.page-container {
  padding: 0 4%;
}

.font-large {
  font-size: 25px;
}

.content {
  padding: 40px;
}

#footer {
  position: relative;
  float: none;
  text-align: center;
  margin: auto;
  color: #999;
  padding: 10px;
}

#footer .content {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}