{% extends "main.html" %}
{% load static %}{% load i18n %}
{% block title %} Home {% endblock %}

{% block scripttags %}
{% endblock %}

{% block content %}

<header class="bg-primary teal lighten-1 white-text">
    <div class="container text-center p-2 pt-4 mx-auto">
        <h2 class="heading h2-responsive">The Holy Quran</h2>
        <p>Find a translation of the holy Quran in your own language.</p>
    </div>
</header>

<div class="container-fluid page-container">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary">{{ message }}</div>
        {% endfor %}
        {% endif %}

        {% for m in chapters %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card card-outline-secondary my-2">
                <div class="card-header font-weight-bold">
                    <div class="float-left">
                        <a href="/{{ m.number }}/">{{ m.number }}</a> | {{ m.transliteration|slice:"6:" }}
                    </div>
                    <div class="float-right arabic-amiri">{{ m.arabic_name }}</div>
                </div>
                <div class="card-body">
                    <span class="font-small">{{ m.english_name }}</span>
                    <a href="/{{ m.number }}" class="font-large card-link float-right fas fa-chevron-circle-right"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}