{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Home{% endblock %} | The Holy Quran</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark teal">
    <a class="navbar-brand" href="/">quran.conveylive.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
            aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <form class="form-inline">
            <div class="md-form my-0">
                <i class="fas fa-search text-white" aria-hidden="true"></i>
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
    </div>
</nav>

{% block content %}
<div class="container-fluid page-container">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary">{{ message }}</div>
        {% endfor %}
        {% endif %}

        This page is under construction.
    </div>
</div>
{% endblock %}

<footer class="page-footer footer white-text teal pt-2 mb-0 w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4">
                <div class="mb-1 flex-center">
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-4">
        &copy; 2013 - 2020 <a href="mailto:aazhbd@yahoo.com">AAZ H</a> | <a href="http://www.articulatedlogic.com/">ArticulatedLogic.com</a>
        | &nbsp;<a href="/">Home</a>
        | &nbsp;<a href="/info">Info</a>
    </div>
</footer>
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
{% block scripttags %}{% endblock %}
</body>
</html>