{% extends "main.html" %}
{% load static %}{% load i18n %}
{% block title %} Chapter {{ chapter_info.number }} | {{chapter_info.transliteration}} {% endblock %}

{% block scripttags %}
    <script>
        $(document).ready(function() {
            $(".author-name").click(function() {
                var para = window.location.search.toLocaleLowerCase().substring(3, window.location.search.length).split(',').length;
                if(para >= 10) {
                    return false;
                }
                var newtrans = $(this).attr('id');
                if(window.location.search.indexOf(newtrans) >= 0) {
                    return false;
                }
                if(window.location.search.toLowerCase().indexOf("?t") >= 0) {
                    window.location.search += "," + newtrans;
                } else {
                    window.location.search = '?t=' + newtrans;
                }
                return false;
            });
            $(".closeTranslation").click(function () {
                var removetrans = $(this).attr('id');
                var para = window.location.search.toLocaleLowerCase().substring(3, window.location.search.length).split(',');
                var total = jQuery.grep(para, function(value) {
                    return value != removetrans;
                });
                if(total.length > 0)
                    window.location.search = '?t=' + total.join(",");
                else window.location.search = "";
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}

<header class="bg-primary teal lighten-1 white-text">
    <div class="container text-center p-2 pt-4 mx-auto">
        <h2 class="h1-responsive arabic-amiri">{{chapter_info.arabic_name}}</h2>
        <p>Chapter {{ chapter_info.number }} | {{chapter_info.transliteration}} | Total Verses {{ chapter_info.total_verses }} | English name: {{chapter_info.english_name}}</p>
    </div>
</header>

<div class="container-fluid page-container">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <div class="col-lg-3">
            <p class="my-2">Selected Translations</p>

            <div class="list-group">
                {% for author in selected_authors %}
                    <a href="" class="list-group-item card-content">
                        {{author}}{% if 1 != author.id %}
                            <button type="button" class="close" aria-label="Close"><span class="closeTranslation" id="{{ author.id }}" aria-hidden="true">×</span></button>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>

            <p class="my-2">Translations
                <a class="d-lg-none d-xl-none" data-toggle="collapse" href="#languageCollapse" role="button" aria-expanded="false" aria-controls="languageCollapse">Expand</a>
            </p>
            <div class="collapse dont-collapse-sm" id="languageCollapse">
                <div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
                    {% for li in language_info %}
                        <div class="card">
                            <div class="card-header teal z-depth-1 card-content" role="tab" id="heading{{li.id}}">
                                <h5 class="mb-0 py-1 white-text panel-title" data-toggle="collapse" href="#collapse{{li.id}}" aria-expanded="false" aria-controls="collapse{{li.id}}">
                                    {{li.name}}
                                </h5>
                            </div>
                            <div id="collapse{{li.id}}"{% if 'English' == li.name %}class='collapse show'{% else %}class='collapse'{% endif %} role="tabpanel" aria-labelledby="heading{{li.id}}"  data-parent="#accordionEx23">
                                {% for ai in author_info %}{% if ai.alang == li %}
                                    <a class="author-name" id="{{ai.id}}"><div class="card-body card-content">{{ai.name}}</div></a>
                                {% endif %}{% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    <div class="col-lg-9">
        <div class="card card-outline-secondary my-4">
            <div class="card-header">
                <div class="float-left">
                    <a href="/{{chapter_info.number}}/">{{ chapter_info.number }}</a> | {{chapter_info.transliteration}}
                </div>
                <div class="float-right arabic-scheherazade">{{ chapter_info.arabic_name }}</div>
            </div>
            <div class="card-body">
                {% for v in verse %}
                    <div>
                        {% if v.author.id == 1 %}
                            <hr>
                            <a href="/{{v.chapter.number}}/{{v.number}}">{{v.chapter.number}}:{{v.number}}</a>&nbsp;<small class="text-muted">{{v.author.alang}} - {{v.author.name}}</small>
                            <div class="arabic-text arabic-amiri font-large">
                                <span lang="ar" xml:lang="ar">{{v.vtext|safe}}</span>
                            </div>
                        {% else %}
                            <div class="font-normal">
                                <a href="/{{v.chapter.number}}/{{v.number}}">{{v.chapter.number}}:{{v.number}}</a> <small class="text-muted">{{v.author.alang}} - {{v.author.name}}</small>
                                <span {% if v.author.alang.direction == 2 %} class="translations-text translation-text-right" {% else %} class="translations-text" {% endif %} lang="{{v.author.alang.iso_code}}" xml:lang="{{v.author.alang.iso_code}}">{{v.vtext|safe}}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <hr>
            </div>
        </div>
    </div>
    </div>
</div>



{% endblock %}